In [ ]:
import io
import sqlite3
import pandas as pd

In [ ]:
!wget --quiet -P /tmp/ https://raw.githubusercontent.com/arthurnader/dados/main/formula1.sql

In [ ]:
conn = sqlite3.connect('/tmp/consult.db')
cursor = conn.cursor()

f = io.open('/tmp/formula1.sql', 'r', encoding='utf-8')
sql = f.read()
cursor.executescript(sql)

In [ ]:
#A9

query = """
SELECT
  *
FROM
  Construtor NATURAL JOIN Resultado_Construtor NATURAL JOIN Corrida
WHERE
  Qte_Pontos > 10 AND Id_Circuito = 10
ORDER BY
  Ano_Corrida
"""

df = pd.read_sql_query(query, conn)
df

    ID_CONSTRUTOR NOME_CONSTRUTOR  ... DATA_CORRIDA  HORA_CORRIDA
0              32      Team Lotus  ...   1970-08-02          None
1               3        Williams  ...   1979-07-29          None
2              34         Brabham  ...   1981-08-02          None
3               1         McLaren  ...   1984-08-05          None
4               3        Williams  ...   1986-07-27          None
5               1         McLaren  ...   1988-07-24          None
6               1         McLaren  ...   1989-07-30          None
7               1         McLaren  ...   1990-07-29          None
8               3        Williams  ...   1991-07-28          None
9              22        Benetton  ...   1995-07-30          None
10              3        Williams  ...   1996-07-28          None
11             22        Benetton  ...   1997-07-27          None
12              1         McLaren  ...   1998-08-02          None
13              6         Ferrari  ...   1999-08-01          None
14              6         Ferrari  ...   2002-07-28          None
15              4         Renault  ...   2003-08-03          None
16              4         Renault  ...   2005-07-24      14:00:00
17              6         Ferrari  ...   2006-07-30      14:00:00
18              1         McLaren  ...   2008-07-20      12:00:00
19              6         Ferrari  ...   2010-07-25      12:00:00
20              9        Red Bull  ...   2010-07-25      12:00:00
21              1         McLaren  ...   2010-07-25      12:00:00
22              6         Ferrari  ...   2012-07-22      12:00:00
23              9        Red Bull  ...   2012-07-22      12:00:00
24              1         McLaren  ...   2012-07-22      12:00:00
25            208        Lotus F1  ...   2012-07-22      12:00:00
26             15          Sauber  ...   2012-07-22      12:00:00
27            131        Mercedes  ...   2014-07-20      12:00:00
28              3        Williams  ...   2014-07-20      12:00:00
29              9        Red Bull  ...   2014-07-20      12:00:00
30            131        Mercedes  ...   2016-07-31      12:00:00
31              9        Red Bull  ...   2016-07-31      12:00:00
32              6         Ferrari  ...   2016-07-31      12:00:00

[33 rows x 12 columns]

In [ ]:

#B2

query = """
SELECT
  Nome_Construtor, DURACAO
FROM(SELECT
      Id_Construtor, Id_Corrida, Id_Piloto, MIN(Duracao_Pitsop) as DURACAO
     FROM
      Pitstop NATURAL JOIN Resultado) NATURAL JOIN Construtor

"""

df = pd.read_sql_query(query, conn)
df

  NOME_CONSTRUTOR  DURACAO
0        Williams   12.897

In [ ]:
#B4

query = """
SELECT
  Nacionalidade_Construtor, COUNT(Nacionalidade_Construtor) as ABANDONOS
FROM
  Construtor NATURAL JOIN Resultado NATURAL JOIN Status
WHERE
  Desc_Status = "Embreagem"
GROUP BY
  Nacionalidade_Construtor
HAVING
  ABANDONOS >= 10
"""

df = pd.read_sql_query(query, conn)
df

  NACIONALIDADE_CONSTRUTOR  ABANDONOS
0                Americana         11
1                Britânica        117
2                 Francesa         24
3                 Italiana         50

In [ ]:
#B9
query = """
SELECT
  Nome_Circuito, Count(Nome_Circuito) as VITORIAS
FROM
  Piloto NATURAL JOIN Resultado  NATURAL JOIN Corrida NATURAL JOIN Circuito
WHERE
  Nome_Piloto = "Lewis Hamilton" AND Valor_Pos_Termino = 1
GROUP BY
  Nome_Circuito
"""

df = pd.read_sql_query(query, conn)
df

                     NOME_CIRCUITO  VITORIAS
0   Albert Park Grand Prix Circuit         2
1     Autodromo Nazionale di Monza         4
2     Autódromo Hermanos Rodríguez         1
3       Autódromo José Carlos Pace         1
4    Bahrain International Circuit         2
5        Circuit Gilles Villeneuve         6
6   Circuit de Barcelona-Catalunya         2
7                Circuit de Monaco         2
8     Circuit de Spa-Francorchamps         3
9          Circuit of the Americas         5
10                   Fuji Speedway         1
11                  Hockenheimring         2
12                     Hungaroring         5
13     Indianapolis Motor Speedway         1
14                   Istanbul Park         1
15       Marina Bay Street Circuit         3
16                     Nürburgring         1
17                   Red Bull Ring         1
18    Sepang International Circuit         1
19  Shanghai International Circuit         5
20             Silverstone Circuit         5
21                  Sochi Autodrom         2
22                  Suzuka Circuit         3
23              Yas Marina Circuit         3